/*
 * Display
 */

.block {
  display: block;
}
.block.hide {
  display: none;
}
.inline {
  display: inline-block !important;
}
.none {
  display: none;
}



/*
 * Side
 */

.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.pull-none {
  float: none;
}



/*
 * Images
 */

.img-full {
  max-width: 100%;
}
.img-full > img {
  max-width: 100%;
}


/*
 * Margin helpers
 */

.m-xxs {
  margin: $xxs;
}
.m-xs {
  margin: $xs;
}
.m-sm {
  margin: $sm;
}
.m {
  margin: $m;
}
.m-md {
  margin: $md;
}
.m-lg {
  margin: $lg;
}
.m-xl {
  margin: $xl;
}
.m-n {
  margin: 0;
}
.m-l-none {
  margin-left: 0;
}
.m-l-xs {
  margin-left: $xs;
}
.m-l-sm {
  margin-left: $sm;
}
.m-l {
  margin-left: $m;
}
.m-l-md {
  margin-left: $md;
}
.m-l-lg {
  margin-left: $lg;
}
.m-l-xl {
  margin-left: $xl;
}
.m-l-n-xxs {
  margin-left: -$xxs;
}
.m-l-n-xs {
  margin-left: -$xs;
}
.m-l-n-sm {
  margin-left: -$sm;
}
.m-l-n {
  margin-left: -$m;
}
.m-l-n-md {
  margin-left: -$md;
}
.m-l-n-lg {
  margin-left: -$lg;
}
.m-l-n-xl {
  margin-left: -$xl;
}
.m-t-none {
  margin-top: 0;
}
.m-t-xxs {
  margin-top: $xxs;
}
.m-t-xs {
  margin-top: $xs;
}
.m-t-sm {
  margin-top: $sm;
}
.m-t {
  margin-top: $m;
}
.m-t-md {
  margin-top: $md;
}
.m-t-lg {
  margin-top: $lg;
}
.m-t-xl {
  margin-top: $xl;
}
.m-t-n-xxs {
  margin-top: -$xxs;
}
.m-t-n-xs {
  margin-top: -$xs;
}
.m-t-n-sm {
  margin-top: -$sm;
}
.m-t-n {
  margin-top: -$m;
}
.m-t-n-md {
  margin-top: -$md;
}
.m-t-n-lg {
  margin-top: -$lg;
}
.m-t-n-xl {
  margin-top: -$xl;
}
.m-r-none {
  margin-right: 0;
}
.m-r-xxs {
  margin-right: $xxs;
}
.m-r-xs {
  margin-right: $xs;
}
.m-r-sm {
  margin-right: $sm;
}
.m-r {
  margin-right: $m;
}
.m-r-md {
  margin-right: $md;
}
.m-r-lg {
  margin-right: $lg;
}
.m-r-xl {
  margin-right: $xl;
}
.m-r-n-xxs {
  margin-right: -$xxs;
}
.m-r-n-xs {
  margin-right: -$xs;
}
.m-r-n-sm {
  margin-right: -$sm;
}
.m-r-n {
  margin-right: -$m;
}
.m-r-n-md {
  margin-right: -$md;
}
.m-r-n-lg {
  margin-right: -$lg;
}
.m-r-n-xl {
  margin-right: -$xl;
}
.m-b-none {
  margin-bottom: 0;
}
.m-b-xxs {
  margin-bottom: $xxs;
}
.m-b-xs {
  margin-bottom: $xs;
}
.m-b-sm {
  margin-bottom: $sm;
}
.m-b {
  margin-bottom: $m;
}
.m-b-md {
  margin-bottom: $md;
}
.m-b-lg {
  margin-bottom: $lg;
}
.m-b-xl {
  margin-bottom: $xl;
}
.m-b-n-xxs {
  margin-bottom: -$xxs;
}
.m-b-n-xs {
  margin-bottom: -$xs;
}
.m-b-n-sm {
  margin-bottom: -$sm;
}
.m-b-n {
  margin-bottom: -$m;
}
.m-b-n-md {
  margin-bottom: -$md;
}
.m-b-n-lg {
  margin-bottom: -$lg;
}
.m-b-n-xl {
  margin-bottom: -$xl;
}




/* 
 * Padding helpers
 */

 .p-xxs {
  padding: $xxs;
}
.p-xs {
  padding: $xs;
}
.p-sm {
  padding: $sm;
}
.p {
  padding: $m;
}
.p-md {
  padding: $md;
}
.p-lg {
  padding: $lg;
}
.p-xl {
  padding: $xl;
}
.p-n {
  padding: 0;
}
.p-l-none {
  padding-left: 0;
}
.p-l-xs {
  padding-left: $xs;
}
.p-l-sm {
  padding-left: $sm;
}
.p-l {
  padding-left: $m;
}
.p-l-md {
  padding-left: $md;
}
.p-l-lg {
  padding-left: $lg;
}
.p-l-xl {
  padding-left: $xl;
}
.p-l-n-xxs {
  padding-left: -$xxs;
}
.p-l-n-xs {
  padding-left: -$xs;
}
.p-l-n-sm {
  padding-left: -$sm;
}
.p-l-n {
  padding-left: -$m;
}
.p-l-n-md {
  padding-left: -$md;
}
.p-l-n-lg {
  padding-left: -$lg;
}
.p-l-n-xl {
  padding-left: -$xl;
}
.p-t-none {
  padding-top: 0;
}
.p-t-xxs {
  padding-top: $xxs;
}
.p-t-xs {
  padding-top: $xs;
}
.p-t-sm {
  padding-top: $sm;
}
.p-t {
  padding-top: $m;
}
.p-t-md {
  padding-top: $md;
}
.p-t-lg {
  padding-top: $lg;
}
.p-t-xl {
  padding-top: $xl;
}
.p-t-n-xxs {
  padding-top: -$xxs;
}
.p-t-n-xs {
  padding-top: -$xs;
}
.p-t-n-sm {
  padding-top: -$sm;
}
.p-t-n {
  padding-top: -$m;
}
.p-t-n-md {
  padding-top: -$md;
}
.p-t-n-lg {
  padding-top: -$lg;
}
.p-t-n-xl {
  padding-top: -$xl;
}
.p-r-none {
  padding-right: 0;
}
.p-r-xxs {
  padding-right: $xxs;
}
.p-r-xs {
  padding-right: $xs;
}
.p-r-sm {
  padding-right: $sm;
}
.p-r {
  padding-right: $m;
}
.p-r-md {
  padding-right: $md;
}
.p-r-lg {
  padding-right: $lg;
}
.p-r-xl {
  padding-right: $xl;
}
.p-r-n-xxs {
  padding-right: -$xxs;
}
.p-r-n-xs {
  padding-right: -$xs;
}
.p-r-n-sm {
  padding-right: -$sm;
}
.p-r-n {
  padding-right: -$m;
}
.p-r-n-md {
  padding-right: -$md;
}
.p-r-n-lg {
  padding-right: -$lg;
}
.p-r-n-xl {
  padding-right: -$xl;
}
.p-b-none {
  padding-bottom: 0;
}
.p-b-xxs {
  padding-bottom: $xxs;
}
.p-b-xs {
  padding-bottom: $xs;
}
.p-b-sm {
  padding-bottom: $sm;
}
.p-b {
  padding-bottom: $m;
}
.p-b-md {
  padding-bottom: $md;
}
.p-b-lg {
  padding-bottom: $lg;
}
.p-b-xl {
  padding-bottom: $xl;
}
.p-b-n-xxs {
  padding-bottom: -$xxs;
}
.p-b-n-xs {
  padding-bottom: -$xs;
}
.p-b-n-sm {
  padding-bottom: -$sm;
}
.p-b-n {
  padding-bottom: -$m;
}
.p-b-n-md {
  padding-bottom: -$md;
}
.p-b-n-lg {
  padding-bottom: -$lg;
}
.p-b-n-xl {
  padding-bottom: -$xl;
}