/*
 * typeogrpahy
 */

$font-family-header: "Arial Black", sans-serif;
$font-family-body: Georgia, Times, serif;

$font-bold: 700;
$font-thin: 300;

$text-lg: 16px;
$text-md: 14px;
$text-sm: 12px;
$text-xs: 10px;



/*
 * layout
 */

$xxs: 2px;
$xs:  5px;
$sm:  10px;
$m:   15px;
$md:  20px;
$lg:  30px;
$xl:  40px; 



